.shopping-cart {
    position: absolute;
    right: 2rem;
    margin-top: 1.2rem;
    max-width: 40vw;
    color: $very-dark;
    background: $light;
    border: 2px solid $very-dark;
    padding: 1rem;
    border-radius: 10px;
    overflow: hidden;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    cursor: default;
    animation: slide-top 400ms ease-out;
    box-shadow: 0px 0px 5px 5px rgba($color: $very-dark, $alpha: 0.5);

    .shopping-cart__items {
        overflow: auto;
        width: 100%;
        margin-bottom: 1rem;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .shopping-cart__items__item {
            display: grid;
            grid-template-columns: auto 11rem;
            padding: 0.5rem 0;
            border-bottom: 1px solid $very-dark;

            div {
                display: flex;

                img {
                    width: 3rem;
                    height: 5rem;
                }

                p {
                    margin-left: 0.5rem;
                    word-wrap: break-word;
                }
            }

            .books-counter {
                white-space: nowrap;
                font-weight: 700;
                font-size: 1.2rem;
                color: $medium;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
    .shopping-cart__total-price {
        padding-left: 0.5rem;
        font-weight: 700;
    }

    .shopping-cart__button {
        margin: 0.3rem 0;
    }

    .shopping-cart-empty__button {
        margin: 0.3rem 0;
        background: red;
    }
}

.close-cart {
    animation: slide-close 400ms forwards ease-in;
}

@media (max-width: $tablet-size) {
    .shopping-cart {
        max-width: 60vw;
    }
}

@media (max-width: $mobile-size) {
    .shopping-cart {
        max-width: none;
        top: 0;
        left: 5rem;
        right: auto;
        width: 75vw;
        max-height: 70vh;
        animation: slide-left 600ms linear;

        .shopping-cart__items {
            .shopping-cart__items__item {
                grid-template-columns: auto 8rem;

                div {
                    p {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    .close-cart {
        animation: close-left 400ms forwards ease-in;
    }
}

@keyframes slide-top {
    from {
        max-height: 0;
    }
    to {
        max-height: auto;
    }
}

@keyframes slide-left {
    from {
        width: 0;
    }
    to {
        width: 70vw;
    }
}

@keyframes close-left {
    from {
        width: 70vw;
    }
    to {
        width: 0;
    }
}

@keyframes slide-close {
    from {
        max-height: auto;
    }
    to {
        max-height: 0;
        visibility: hidden;
    }
}

// .shopping-cart::before {
// 	// layout
//     overflow: none;
//     display: block;
// 	content: '';
// 	position: relative;
// 	width: 0;
// 	height: 0;
// 	top: -1.7rem;
// 	margin: 0 auto; // offset should move with padding of parent
// 	border: .75rem solid transparent;
// 	border-top: none;

// 	// looks
// 	border-bottom-color: $medium;
// 	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
// }
