.quantity-picker {
    display: inline-block;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    vertical-align: middle;
    width: fit-content;
    margin: auto;
    height: 3rem;

    @media (max-width: $mobile-size) {
        height: 2rem;
    }
}
.quantity-input:focus {
    background: red;
}

.quantity-modifier,
.quantity-display {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.quantity-modifier {
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    background: #f3f3f3;
    color: #888;
    border: 0 solid #dbdbdb;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;

    @media (max-width: $mobile-size) {
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
    }
}
.quantity-modifier:hover {
    background: #dadada;
    color: #555555;
}

.quantity-modifier:focus {
    outline: 0;
}

.left-modifier {
    border-radius: 3px 0 0 3px;
}

.mod-disable {
    color: #e0e0e0;
}

.mod-disable:hover {
    background-color: #f3f3f3 !important;
    color: #e0e0e0;
    cursor: default;
}

.right-modifier {
    border-radius: 0 3px 3px 0;
}

.quantity-display {
    width: 4rem;
    // padding: .5rem;
    font-size: 1.5rem;
    border: 0;
    border-top: 0 solid #dbdbdb;
    border-bottom: 0 solid #dbdbdb;
    text-align: center;

    @media (max-width: $mobile-size) {
        width: 3rem;
        font-size: 1rem;
        vertical-align: middle;
    }
}
