.button {
    background: $dark;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba($color: $medium, $alpha: 0.5);
    padding: 0.5rem;
    color: white;
    border-radius: 5px;

    &:active {
        background: $dark;
        color: $very-dark;
        box-shadow: none;
    }
}
